<!DOCTYPE html>
<html lang="en">
<head>
    <title>Signature Pad</title>
    <meta charset="utf-8">
    <link href="{{staticPath}}css/status.css" rel="stylesheet">
    <link href="{{staticPath}}css/signature-pad.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>

<body>
<div class="section">
    <h1>{{customerName}}</h1>
    <h2>Order Value: £1000</h2>
</div>
<div id="signature-pad" class="m-signature-pad">
    <div class="m-signature-pad--body">
        <canvas></canvas>
    </div>
    <div class="m-signature-pad--footer">
        <div class="description">Sign above</div>
        <button class="button clear" data-action="clear">Clear</button>
        <button class="button save" data-action="save">Save</button>
    </div>
</div>

<script src="js/signature_pad.js"></script>
<script src="js/app.js"></script>
</body>
</html>